html, body, h1, h2, h3, h4, div, form, table {
    margin: 0;
    padding: 0
}
img {
    border: none;
}
a {
    outline: 0;
    cursor: pointer;
}
ul#lang_badge {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(166, 33, 27, 0.28);
    text-decoration: none;
    font-size: 12px;
    color: white;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
    height: 45px;
    line-height: 45px;
    z-index: 1000;
    padding-left: 8px;
}
ul#lang_badge span {
    vertical-align: middle
}
ul#lang_badge i {
    position: absolute;
    width: 45px;
    height: 45px;
    background: rgb(166, 33, 27);
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    top: 0;
    right: 0
}
ul#lang_badge a {
    color: white;
    text-decoration: none
}
ul#lang_badge ul {
    list-style: none;
    display: none;
    top: 45px;
    right: 0;
    position: absolute;
    color: white;
    width: 100px;
    padding: 10px 0 10px 0px;
    margin: 0;
    line-height: 200%;
    background: rgba(0, 0, 0, .7);
    text-align: left
}
ul#lang_badge ul span {
    vertical-align: middle;
    margin-right: 4px;
}
ul#lang_badge ul li {
    padding-left: 8px;
}
ul#lang_badge ul li:hover {
    background-color: rgba(57, 162, 209, 0.48);
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.green {
    background-color: #28847f
}
.blue {
    background-color: #6bcaea
}
.size_12 {
    font-size: 12px;
}
.block {
    display: block;
}
body {
    padding: 0px;
    margin: 0px;
	box-shadow: inset 0 0 1000px 1px #bdb292;
    /*background: #bdb292 url(/img/bg.jpg) top center repeat-y fixed;*/
    font-family: Trebuchet MS, Georgia;
    font-size: 18px;
    /*color: #000;*/
	color: #373f4c;
}
#wrapper {
    width: 1019px;
    margin: 0px auto;
    /*background:url(/img/bgshadow.png) bottom center no-repeat;*/
}
#all {
    width: 965px;
    margin: 0px auto;
}
#logo {
    padding: 25px 0 8px;
    text-align: center;
}
#logo img {
    height: 50px;
}
#map {
    width: 99%;
    height: 400px;
}
#menu {}
#menu ul {
    font-size: 0;
    padding: 0px 0 0 0;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
#menu li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    padding: 12px 17px;
    /*margin-left:25px;*/
    border-top: 10px rgba(189, 178, 146, 0.61) solid;
}
#menu a {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
	font-weight: bold;
}
#menu a:hover, #menu li#selected a {
    color: #39a2d1;
}
#menu li#selected {
    border-top: 10px #39a2d1 solid;
}
#menu li:hover {
    border-top: 10px #39a2d1 solid;
}
#menu li.firstm {
    padding-left: 16px !important
}
#frontpage_article {
    width: 75%;
    margin: 50px auto;
}
#frontpage_article h2, #frontpage_article h3 {
    text-align: center;
    color: #8c151e
}
#container {
    /*background:#FFF url(/img/bg1.jpg) center center;*/
    padding-bottom: 1px;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container_inner {
    clear: both;
    margin: 10px;
    line-height: 150%;
    min-height: 300px;
    height: auto !important;
    height: 300px;
}
#container_inner td {
    font-size: 14px;
    line-height: 150%
}
#slideshow {
    border: 3px #39A2D1 solid;
    z-index: 1;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
#f_blurb {
    border-top: 10px #066964 solid;
    clear: both;
    margin-top: 10px;
    font-size: 22px;
    color: #28847f;
    padding: 10px 0px;
    line-height: 150%
}
#f_buttons {
    margin: 10px 0px 50px 0px;
    background: url(/img/bgfb.png) 0 0 repeat;
}
#f_buttons ul {
    padding: 10px 12px 14px 0px;
    margin: 0px 10px 0px 0px;
}
#f_buttons li {
    display: inline;
    padding: 0px;
    margin-left: 20px;
}
#mid_list {
    margin-bottom: 20px;
}
#mid_one {
    width: 223px;
    margin-left: 16px;
    float: left;
    border-top: 10px #6bcaea solid;
}
#mid_one a.arrow {}
#mid_one span {
    display: block;
    margin-bottom: 5px;
    height: 180px;
    line-height: 140%;
    font-size: 13px;
}
#mid_one a.graphic {
    display: block;
    color: #4cabd6;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
}
#mid_one img.icon {
    margin-bottom: 10px;
}
.first {
    margin-left: 0px !important;
}
.first_p {
    padding-left: 0px !important;
}
.arrow {
    background-image: url(/img/bgarrow.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 31px;
    line-height: 31px;
    padding: 6px 30px 9px 15px;
    font-size: 11px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    color: #fff;
    text-decoration: none;
}
#slideshow_image_descr {
    position: absolute;
    padding: 20px 20px 40px 20px;
    height: 240px;
    z-index: 50;
    width: 260px;
    background-image: url(/img/bg80.png);
    color: #fff;
}
#slideshow_image_descr h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
#slideshow_image_descr a {
    color: white
}
.ss_image_txt {
    display: none;
}
#csnav {
    color: white;
    font-size: 40px;
    display: block;
    clear: both;
    position: absolute;
    margin-top: -30px;
    z-index: 100;
    text-align: center;
    width: 100%;
}
#csnav a.pageelem {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('img/dot_grey.png') 0 0 no-repeat transparent;
    margin: 0px 10px 0px 0px;
}
#csnav a.activeSlide {
    background-image: url('img/dot_white.png');
}
#csnav span {
    cursor: pointer
}
#csnav span.cycle-pager-active {
    color: rgb(182, 21, 30)
}
a.graphic {
    text-decoration: none;
}
.sub_products_bar {
    border-top: 10px #6bcaea solid;
    width: 670px;
    float: right;
    margin: 20px 0px 20px 0px
}
.sub_products {
    color: #6bcaea;
    width: 250px;
    float: left;
    margin: 20px 20px 20px 0px;
    border-top: 10px #373f4c solid;
    padding-top: 10px;
    height: 400px;
}
.sub_products li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 12px;
}
.sub_products a {
    color: #6bcaea;
    text-decoration: none;
    text-transform: uppercase;
}
.sub_products a:hover, .sub_products a#selected {
    color: #373f4c;
}
ul.spmain {
    padding: 0px;
    margin: 0px;
}
ul.spmain li {}
ul.spsub {
    padding: 0px;
    margin: 10px 0px 0px 20px;
}
ul.spsub li {}
.gmap {
    display: block;
    width: 242px;
    height: 242px;
    background-color: #f2f2f2;
    float: left;
}
.gmap span {
    display: block;
    width: 242px;
    height: 242px;
}
.static_inner {
    margin: 20px 60px
}
#page_gallery img {
    width: 250px;
    height: auto !important;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    border: 2px solid rgba(166, 33, 27, 0.28);
}
.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/src/img/flags.png) no-repeat
}
.flag.flag-en {
    background-position: -288px -128px
}
.flag.flag-ee {
    background-position: -384px -96px
}
.flag.flag-ru {
    background-position: -256px -352px
}
.flag.flag-ukr {
    background-position: -352px -416px
}
@media only screen and (max-width:1019px) {
    #wrapper {
        width: 95%
    }
    #all {
        width: 100%
    }
    .static_inner {
        margin: 20px 0
    }
    #page_gallery {
        text-align: center;
    }
    #page_gallery img {
        display: inline-block;
        vertical-align: top;
        margin: 2%;
    }
    #page_gallery span {
        display: none;
    }
    #page_gallery p {
        margin: 0;
        padding: 0
    }
    #slideshow img {
        width: 100%;
        height: auto
    }
    #frontpage_article {
        width: 100%
    }
}

@media only screen and (max-width:630px) {
    #page_gallery img {
        display: block;
        margin: 2% auto
    }
}
@media only screen and (max-width:600px) {
    #menu li, #menu li:hover, #menu li#selected {
        border-top: 0;
    }
    #menu li {
        padding: 0px 5px;
    }
    #menu a {
        font-size: 18px;
    }
}
@media only screen and (max-width:380px) {
    #logo img {
        width: 100%;
        height: auto
    }
}

footer {
    font-size: 13px;
    padding-bottom: 20px;
}
